<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>班级管理</title>
</head>
<body>
<div class="col-md-12">
    <div class="form-group">
        <label class="col-sm-3 control-label">上课：</label>
        <div class="col-sm-9">
            <div class="onoffswitch">
                <label class="onoffswitch-label" for="status"> <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>

                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">信号：</label>
        <div class="col-sm-9">
            <label class="radio-box">
                <div class="iradio-blue checked">
                    <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>

                </div>电脑</label>
            <label class="radio-box">
                <div class="iradio-blue">
                    <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>

                </div>外接</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="-NaN">空调：</label>
        <div class="col-sm-9">
            <label class="radio-box" for="-NaN">
                <div class="iradio-blue checked">
                    <input type="radio" checked="" value="option1" id="-NaN" name="optionsRadios" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>

                </div>打开</label>
            <label class="radio-box" for="-NaN">
                <div class="iradio-blue">
                    <input type="radio" value="option2" id="-NaN" name="optionsRadios" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>

                </div>关闭</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">音量：</label>
        <div class="col-sm-9">
            <label class="check-box">
                <div class="icheckbox-blue">
                    <input type="checkbox" value="option1" id="inlineCheckbox1" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>

                </div>音量--</label>
            <label class="check-box">
                <div class="icheckbox-blue">
                    <input type="checkbox" value="option2" id="inlineCheckbox2" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>

                </div>静音</label>
            <label class="check-box">
                <div class="icheckbox-blue">
                    <input type="checkbox" value="option3" id="inlineCheckbox3" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>

                </div>音量+</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="-NaN">灯光：</label>
        <div class="col-sm-9">
            <label class="radio-box" for="-NaN">
                <div class="iradio-blue checked">
                    <input type="radio" checked="" value="option1" id="-NaN" name="optionsRadios" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>

                </div>打开</label>
            <label class="radio-box" for="-NaN">
                <div class="iradio-blue">
                    <input type="radio" value="option2" id="-NaN" name="optionsRadios" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>

                </div>关闭</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="-NaN">投影机：</label>
        <div class="col-sm-9">
            <label class="radio-box" for="-NaN">
                <div class="iradio-blue checked">
                    <input type="radio" checked="" value="option1" id="-NaN" name="optionsRadios" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>

                </div>打开</label>
            <label class="radio-box" for="-NaN">
                <div class="iradio-blue">
                    <input type="radio" value="option2" id="-NaN" name="optionsRadios" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>

                </div>关闭</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="-NaN">教学机：</label>
        <div class="col-sm-9">
            <label class="radio-box" for="-NaN">
                <div class="iradio-blue checked">
                    <input type="radio" checked="" value="option1" id="-NaN" name="optionsRadios" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>

                </div>打开</label>
            <label class="radio-box" for="-NaN">
                <div class="iradio-blue">
                    <input type="radio" value="option2" id="-NaN" name="optionsRadios" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>

                </div>关闭</label>
        </div>
    </div>
</div>

</body>
</html>